*{
    padding: 0%;
    margin: 0%;
}


.bcg-ibox{
    width: 100%;
    height: 100%;
}
.bcg-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    font-size: 3vw;
    color: rgb(63, 11, 11);
    font-weight: 900;
    font-style: italic;
    margin-right: 2vw;
}

.hader{
    position: absolute;
    left: 21vw;
    top: 4vh; 
}


/* bcg material */

.bcg-material{
    position: absolute;
    left: 7vw;
    top: 35vw;
}

.logo-image{
    height: 15vw;
}

.bcg-para>h1{
    color: whitesmoke;
    font-size: 3vw;    
}

.bcg-para>h3{
    color: whitesmoke;
    font-size: 2vw;
}

.bcg-para{
    width: 35vw;
    position: absolute;
    left: 18vw;
    top: 2vh;
}

.hader>a:first-child{
    background-color: yellow;
    border-radius: 5px;
}

.hader>a:hover{
    background-color: yellow;
    border-radius: 5px;
}

.map{
    position: relative;
    top: 3vw;
}






.right-image{
    position: absolute;
    top: 17vw;
    left: 70vw;
}

.right-image>img{
    height: 30vw;
    border-radius: 3vw;
}
.right-image>h1{
    position: relative;
    color: black;
    font-size: 3vw;
    background-color: orangered;
    width: 24vw;
    padding: 5px;
    border-radius: 2vw;
}